@model OnlineShopping.Persistence.ViewModels.HomeViewModel



<div class="col-lg-9 col-md-8 col-sm-6 col-9">
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler side_navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarSidetoggle" aria-expanded="false">
            <span class="ion-android-menu"></span>
        </button>
        <div class="collapse navbar-collapse mobile_side_menu" id="navbarSidetoggle">
            <ul class="navbar-nav">
                <li><a class="nav-link nav_item" asp-action="Index" asp-controller="home">Home</a></li>
                @foreach (var item in Model.categories)
                {
                    <li><a class="nav-link nav_item" asp-action="GetCategoryItems" asp-route-id="@item.Id" asp-controller="Home">@item.Name</a></li>
                }
            </ul>
        </div>

        <ul class="navbar-nav attr-nav align-items-center">
            
            <li><a class="nav-link" asp-action="GetFavourite" asp-controller="Product"><i class="linearicons-heart"></i><span class="wishlist_count">@ViewBag.FavCount</span></a></li>
            <li><a class="nav-link cart_trigger" asp-action="DisplayCart" asp-controller="Cart"><i class="linearicons-cart"></i><span class="cart_count">@ViewBag.CartCount</span></a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="linearicons-user"></i>
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Register" asp-controller="Account" class="btn btn-danger  dropdown-item">Register</a>
                        <a asp-action="Login" asp-controller="Account" class="btn btn-danger dropdown-item ml-0">Login</a>

                    }
                    else
                    {
                        <a asp-action="Logout" asp-controller="Account" class="btn btn-danger dropdown-item ml-0">Logout</a>

                    }
                </div>
            </li>
        </ul>
    </nav>
</div>