@model OnlineShopping.Persistence.ViewModels.HomeViewModel

@foreach (var item in Model.categories)
{
    <li><a class="nav-link nav_item" asp-action="GetCategoryItems" asp-route-id="@item.Id" asp-controller="Home">@item.Name</a></li>

}
