<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Anil z" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
    <meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">

    <!-- SITE TITLE -->
    <title>Shopwise - eCommerce Bootstrap 4 HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/lib/images/favicon.png">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/lib/css/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/lib/css/all.min.css">
    <link rel="stylesheet" href="~/lib/css/ionicons.min.css">
    <link rel="stylesheet" href="~/lib/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/css/linearicons.css">
    <link rel="stylesheet" href="~/lib/css/flaticon.css">
    <link rel="stylesheet" href="~/lib/css/simple-line-icons.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="~/lib/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/owlcarousel/css/owl.theme.css">
    <link rel="stylesheet" href="~/lib/owlcarousel/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/lib/css/magnific-popup.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/lib/css/slick.css">
    <link rel="stylesheet" href="~/lib/css/slick-theme.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/lib/css/style.css">
    <link rel="stylesheet" href="~/lib/css/responsive.css">

</head>

<body>

    <!-- LOADER -->
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- END LOADER -->
    <!-- START HEADER -->
    <header class="header_wrap">
        <div class="middle-header dark_skin">
            <div class="container">
                <div class="nav_block">
                    <a class="navbar-brand" asp-action="index" asp-controller="home">
                        <img class="logo_light" src="~/lib/images/logo_light.png" alt="logo">
                        <img class="logo_dark" src="~/lib/images/logo_dark.png" alt="logo">
                    </a>
                    <div class="contact_phone order-md-last">
                        <i class="linearicons-phone-wave"></i>
                        <span>123-456-7689</span>
                    </div>
                    <div class="product_search_form">
                        @RenderSection("Search", false)
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_header light_skin main_menu_uppercase bg_dark mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-3">
                        <div class="categories_wrap">
                            <button type="button" data-toggle="collapse" data-target="#navCatContent" aria-expanded="false" class="text-center categories_btn">
                                <span>All Categories </span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-9">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler side_navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarSidetoggle" aria-expanded="false">
                                <span class="ion-android-menu"></span>
                            </button>
                            <div class="collapse navbar-collapse mobile_side_menu" id="navbarSidetoggle">
                                <ul class="navbar-nav">
                                    <li><a class="nav-link nav_item" asp-action="Index" asp-controller="home">Home</a></li>
                                    @RenderSection("Category", false)
                                </ul>
                            </div>
                            <ul class="navbar-nav attr-nav align-items-center">
                                <li><a href="#" class="nav-link"><i class="linearicons-user"></i></a></li>
                                <li><a class="nav-link" asp-action="GetFavourite" asp-controller="Product"><i class="linearicons-heart"></i><span class="wishlist_count">0</span></a></li>
                                <li class="dropdown cart_dropdown">
                                    <a class="nav-link cart_trigger" asp-action="DisplayCart" asp-controller="Cart"><i class="linearicons-cart"></i><span class="cart_count">2</span></a>
                                    @*<div class="cart_box dropdown-menu dropdown-menu-right">
            <ul class="cart_list">
                <li>
                    <a href="#" class="item_remove"><i class="ion-close"></i></a>
                    <a href="#"><img src="~/lib/images/cart_thamb1.jpg" alt="cart_thumb1">Variable product 001</a>
                    <span class="cart_quantity"> 1 x <span class="cart_amount"> <span class="price_symbole">$</span></span>78.00</span>
                </li>
                <li>
                    <a href="#" class="item_remove"><i class="ion-close"></i></a>
                    <a href="#"><img src="~/lib/images/cart_thamb2.jpg" alt="cart_thumb2">Ornare sed consequat</a>
                    <span class="cart_quantity"> 1 x <span class="cart_amount"> <span class="price_symbole">$</span></span>81.00</span>
                </li>
            </ul>
            <div class="cart_footer">
                <p class="cart_total"><strong>Subtotal:</strong> <span class="cart_price"> <span class="price_symbole">$</span></span>159.00</p>
                <p class="cart_buttons"><a href="#" class="btn btn-fill-line view-cart">View Cart</a><a href="#" class="btn btn-fill-out checkout">Checkout</a></p>
            </div>
        </div>*@
                                </li>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-action="Login" asp-controller="Account" class="btn btn-danger nav-link nav_item ml-2">Login</a></li>
                                    <li><a asp-action="Register" asp-controller="Account" class="btn btn-danger nav-link nav_item ml-2">Register</a></li>

                                }
                                else
                                {
                                    <li><a asp-action="Logout" asp-controller="Account" class="btn btn-danger nav-link nav_item ml-2">Logout</a></li>

                                }

                            </ul>
                            <div class="pr_search_icon">
                                <a href="javascript:void(0);" class="nav-link pr_search_trigger"><i class="linearicons-magnifier"></i></a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER -->
    <!-- END MAIN CONTENT -->
    <div class="main_content">

        <!-- START SECTION SHOP -->
        <!-- END SECTION SHOP -->
        <!-- START SECTION SHOP -->
        <div class="section small_pt pb_20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading_tab_header">
                            <div class="heading_s2">
                                <h2>Featured Products</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- END SECTION SHOP -->
    <!-- START SECTION BANNER -->
    <div class="section pb_20 small_pt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single_banner">
                        <img src="~/lib/images/shop_banner_img1.jpg" alt="shop_banner_img1">
                        <div class="single_banner_info">
                            <h5 class="single_bn_title1">Super Sale</h5>
                            <h3 class="single_bn_title">New Collection</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single_banner">
                        <img src="~/lib/images/shop_banner_img2.jpg" alt="shop_banner_img2">
                        <div class="single_banner_info">
                            <h3 class="single_bn_title">New Season</h3>
                            <h4 class="single_bn_title1">Sale 40% Off</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION BANNER -->
    @*@RenderSection("DayDeals",false)   *@



    <div class="section pb_20 small_pt">
        <div class="container-fluid px-2">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="sale_banner">
                        <a class="hover_effect1" href="#">
                            <img src="~/lib/images/shop_banner_img3.jpg" alt="shop_banner_img3">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sale_banner">
                        <a class="hover_effect1" href="#">
                            <img src="~/lib/images/shop_banner_img4.jpg" alt="shop_banner_img4">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sale_banner">
                        <a class="hover_effect1" href="#">
                            <img src="~/lib/images/shop_banner_img5.jpg" alt="shop_banner_img5">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION BANNER -->
    <!-- START SECTION CLIENT LOGO -->
    <div class="section small_pt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading_tab_header">
                        <div class="heading_s2">
                            <h2>Our Brands</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="client_logo carousel_slider owl-carousel owl-theme nav_style3" data-dots="false" data-nav="true" data-margin="30" data-loop="true" data-autoplay="true" data-responsive='{"0":{"items": "2"}, "480":{"items": "3"}, "767":{"items": "4"}, "991":{"items": "5"}}'>
                        @RenderSection("Brand", required: false)
                    </div>
                </div>
            </div>
        </div><br /><br />
        <!-- END SECTION CLIENT LOGO -->
        <!-- START SECTION SUBSCRIBE NEWSLETTER -->
        <div class="section bg_dark small_pt small_pb">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="heading_s1 mb-md-0 heading_light">
                            <h3>Subscribe Our Newsletter</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="newsletter_form">
                            <form>
                                <input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
                                <button type="submit" class="btn btn-fill-out rounded-0" name="submit" value="Submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    </div>
    <!-- END MAIN CONTENT -->
    <!-- START FOOTER -->
    <footer class="bg_gray">
        <div class="footer_top small_pt pb_20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <div class="footer_logo">
                                <a href="#"><img src="~/lib/images/logo_dark.png" alt="logo"></a>
                            </div>
                            <p class="mb-3">If you are going to use of Lorem Ipsum need to be sure there isn't anything hidden of text</p>
                            <ul class="contact_info">
                                <li>
                                    <i class="ti-location-pin"></i>
                                    <p>123 Street, Old Trafford, NewYork, USA</p>
                                </li>
                                <li>
                                    <i class="ti-email"></i>
                                    <a href="mailto:info@sitename.com">info@sitename.com</a>
                                </li>
                                <li>
                                    <i class="ti-mobile"></i>
                                    <p>+ 457 789 789 65</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Useful Links</h6>
                            <ul class="widget_links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Location</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">My Account</h6>
                            <ul class="widget_links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Discount</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Orders History</a></li>
                                <li><a href="#">Order Tracking</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="widget">
                            <h6 class="widget_title">Instagram</h6>
                            <ul class="widget_instafeed instafeed_col4">
                                <li><a href="#"><img src="~/lib/images/insta_img1.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img2.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img3.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img4.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img5.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img6.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img7.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="#"><img src="~/lib/images/insta_img8.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle_footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="shopping_info">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <div class="icon_box icon_box_style2">
                                        <div class="icon">
                                            <i class="flaticon-shipped"></i>
                                        </div>
                                        <div class="icon_box_content">
                                            <h5>Free Delivery</h5>
                                            <p>Phasellus blandit massa enim elit of passage varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon_box icon_box_style2">
                                        <div class="icon">
                                            <i class="flaticon-money-back"></i>
                                        </div>
                                        <div class="icon_box_content">
                                            <h5>30 Day Returns Guarantee</h5>
                                            <p>Phasellus blandit massa enim elit of passage varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon_box icon_box_style2">
                                        <div class="icon">
                                            <i class="flaticon-support"></i>
                                        </div>
                                        <div class="icon_box_content">
                                            <h5>27/4 Online Support</h5>
                                            <p>Phasellus blandit massa enim elit of passage varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_footer border-top-tran">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <p class="mb-lg-0 text-center">© 2020 All Rights Reserved by Bestwebcreator</p>
                    </div>
                    <div class="col-lg-4 order-lg-first">
                        <div class="widget mb-lg-0">
                            <ul class="social_icons text-center text-lg-left">
                                <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#" class="sc_youtube"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <ul class="footer_payment text-center text-lg-right">
                            <li><a href="#"><img src="~/lib/images/visa.png" alt="visa"></a></li>
                            <li><a href="#"><img src="~/lib/images/discover.png" alt="discover"></a></li>
                            <li><a href="#"><img src="~/lib/images/master_card.png" alt="master_card"></a></li>
                            <li><a href="#"><img src="~/lib/images/paypal.png" alt="paypal"></a></li>
                            <li><a href="#"><img src="~/lib/images/amarican_express.png" alt="amarican_express"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
    <script src="~/lib/js/jquery-1.12.4.min.js"></script>
    <!-- popper min js -->
    <script src="~/lib/js/popper.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="~/lib/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="~/lib/js/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="~/lib/js/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="~/lib/js/parallax.js"></script>
    <!-- countdown js  -->
    <script src="~/lib/js/jquery.countdown.min.js"></script>
    <!-- imagesloaded js -->
    <script src="~/lib/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope min js -->
    <script src="~/lib/js/isotope.min.js"></script>
    <!-- jquery.dd.min js -->
    <script src="~/lib/js/jquery.dd.min.js"></script>
    <!-- slick js -->
    <script src="~/lib/js/slick.min.js"></script>
    <!-- elevatezoom js -->
    <script src="~/lib/js/jquery.elevatezoom.js"></script>
    <!-- scripts js -->
    <script src="~/lib/js/scripts.js"></script>

</body>
</html>