@model OnlineShopping.Persistence.ViewModels.HomeViewModel

<form>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="custom_select">

                @Html.DropDownListFor(x => x.categories, new SelectList(Model.categories, "Id", "Name"))
            </div>
        </div>
        <input class="form-control" name="ProductName" placeholder="Search Product..." required="" type="text">
        <button asp-route-name="Name" asp-action="Search" asp-controller="Home" type="submit" class="search_btn"><i class="linearicons-magnifier"></i></button>
    </div>
</form>