@model OnlineShopping.Areas.Admin.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/shared/_subLayout.cshtml";
}

<div class="main_content">

    <!-- START LOGIN SECTION -->
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>Login</h3>
                            </div>
                            <form method="post" asp-action="Login" asp-controller="Account">
                                <div class="form-group">
                                    <input asp-for="UserName" class="form-control"  placeholder="User Name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" asp-for="Password" placeholder="Password">
                                </div>
                  
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block" name="login">Log in</button>
                                </div>
                            </form>
                            <br/>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-note text-center">Don't Have an Account? <a asp-action="Register" asp-controller="Account">Sign up now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END LOGIN SECTION -->


@section Category{
    @Html.Partial("_Category", ViewBag.e as HomeViewModel);
}